$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;


$white: #fff;
$black: #232323;

$gray: #7C7C7C;
$m-gray: #B9B9B9;
$l-gray: #CECECE;
$light: #EFF1F4;

$blue: #2B64C8;
$red: #DD0000;
$green: #3ABF56;

$font_1: 'Arial';
$font_2: 'Ubuntu';

